@charset "UTF-8";

a {
  text-decoration: none;
}
body {background-color: #eee;}

#two-column-wrapper {
  max-width: 1024px;
  margin: 0 auto;

}

#info {
  text-align: center;
  font-size: 14px;
  height: 20px;
  margin-top: 10px;
  line-height: 20px;
}

// ============= main config
#main {
  flex: 1;
  padding: 10px;
}

#main .content1 {
  position: relative;
  height: 500px;
  margin: 0 5px;
  background-image: url(/images/minecraft-wallpaper.jpg);
  background-size: cover;
  background-position: top center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 80px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}

#main .squares-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;

  .contents-list {
    flex: 1 100%;
    display: block;
    background-color: #333;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 2;
    padding: 5px 20px;
    margin: 5px 5px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';

    &:hover {
      opacity: 0.7;
    }

    &.basic {background: $basic-grad;}
    &.standard {background: $standard-grad;}
    &.advanced {background: $advanced-grad;}
    &.pro {background: $pro-grad;}
  }


  .item {
    z-index: 5;
    display: block;
    position: relative;
    width: 25%;
    color: #333;
    text-decoration: none;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';

    &::before {
      display: block;
      content: "";
      padding-top: 100%;
    }

    &:hover {
      div {
        border-radius: 25% 0 25% 0;
        opacity: 0.8;
      }
    }

    div {
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      transition: all 0.15s ease;
      background-image: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.5)), url(/images/minecraft-texture.jpg);
      background-size: cover;
      background-position: center;
      // box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

      &.stage {
        color: #fff;
        text-shadow: 0 0 1px #333;
        background-size: cover;
        background-position: center;

        &.basic {background: url(/images/orange.png);}
        &.standard {background: url(/images/green.png);}
        &.advanced {background: url(/images/red.png);}
        &.pro {background: url(/images/blue.png);}

        // &.basic {background: $basic-grad;}
        // &.standard {background: $standard-grad;}
        // &.advanced {background: $advanced-grad;}
        // &.pro {background: $pro-grad;}
        // &.basic {background-image: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.5)), url(/images/diamond.png);}
        // &.standard {background-image: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.5)), url(/images/diamond.png);}
        // &.advanced {background-image: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.5)), url(/images/diamond.png);}
        // &.pro {background-image: linear-gradient(to bottom, rgba(#fff, 0.5), rgba(#fff, 0.5)), url(/images/diamond.png);}
      }

      h2 {
        line-height: 1.5;
        z-index: 20;
        position: absolute;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
          font-size: 32px;
        }
      }
    }
  }

  .item-gray-out {
    pointer-events: none;
    cursor: not-allowed;

    &:hover {
      div {border-radius: 0%;}
    }

    div {
      color: #fff;
      background-image: linear-gradient(to bottom, rgba(#333, 0.2), rgba(#333, 0.2)), url(/images/minecraft-texture.jpg);
    }
  }

  .initial-item {
    width: 100%;


    div{
      transition: all .5s;

      h2 {
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
      }
    }

    &:hover div {
      border-radius: 0%;
      animation: didder .2s ease 0s infinite normal;
    }
  }

  .item-left div {
    background: radial-gradient(rgba(#D76820, 0.5), rgba(#D76820, 0.9));
  }

  .item-right div {
    background: radial-gradient(rgba(#1A7BBD, 0.5), rgba(#1A7BBD, 0.9));
  }
}

#main .squares-container .item .logo-img {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: url(/images/TechChanceLogo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    border-radius: 0;
  }
}
#main .squares-container .item.initial {
  width: 100%;
  &::before {
    display: block;
    content: "";
    padding-top: 100px;
  }
  &::hover {
    border-radius: 0;
  }
}


@keyframes didder {
  0% {transform: translate(2px, 1px);}
  20% {transform: translate(0px, -1px);}
  40% {transform: translate(1px, 2px);}
  60% {transform: translate(-2px, 0px);}
  80% {transform: translate(1px, 1px);}
  100% {transform: translate(2px, 1px);}
}

@media screen and (max-width: 800px) {
  #main .squares-container .item {width: 50%;}
  #main .squares-container .initial-item {width: 50%;}
  #main .squares-container .item h2 {font-size: 16px !important;}
}
// ================= sidebar config ==================

#sidebar {
  width: 300px;
  padding: 10px 20px 10px 0;
}

#sidebar .link-box {
  position: relative;
  display: block;
  margin-bottom: 10px;
  // border-radius: 5px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

  &:hover {opacity: 0.7;}

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: auto;
  }
}

// ================ main and sidebar config for responsive
@media screen and (max-width:900px) {
  #two-column-wrapper {
    display: block;
  }

  #sidebar {
    width: 100%;
    display: flex;
    padding-left:15px;

    .link-box {
      position: relative;
      display: block;
      flex: 1;
      margin: 0 5px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: auto;
        height: 100%;
      }

      &:first-of-type {margin-left: 0;}
      &:last-of-type {margin-right: 0;}
    }
  }
}

@media screen and (max-width: 650px) {
  #sidebar .link-box img {
    width: 100%;
    height: auto;

  }
}


// ============ slide lesson ==============
#lesson-wrap {
  z-index: 1;
  position: relative;
  height: calc(100vh - 150px);
  overflow: scroll;

  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.15);
  }

  // object, iframe {pointer-events: none;}
  // object, iframe {
  //   height: 100%;
  //   pointer-events: none;
  //   overflow: scroll;
  // }

  .block-layer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
