$basic-grad: linear-gradient(120deg, #fc6076 0%, #ff9a44 100%);
$standard-grad: linear-gradient(120deg, #13547a 0%, #80d0c7 100%);
$advanced-grad: linear-gradient(120deg, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
$pro-grad: linear-gradient(120deg, #4e4376 0%, #2b5876 100%);