%header#header
  %h2 マインクラフトコース

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%nav#nav-menu
  %ul
    %li= link_to 'TechChance!Webサイト', 'https://techchance.jp', target: "_blank"


#drw-layer
