%header#header
  = link_to "#{config[:root]}/", class: "homelink" do
    %h2 マインクラフトコース

#drw-btn
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar
%nav#nav-menu
  %ul
    %li
      = link_to "トップページ", "#{config[:root]}/"
#drw-layer
