=link_to "https://techchance.jp/", target: "_blank", class: "link-box" do
  %img{src: "/images/TechChanceLogo.svg", width: 300, height: 120}


=link_to "https://hirodaiken.jp/", target: "_blank", class: "link-box" do
  %img{src: "/images/HirodaikenLogo.svg", width: 300, height: 120}
