=link_to "https://hirodaiken.jp/", target: "_blank", class: "link-box" do
  .box1

=link_to "https://hirodaiken.jp/", target: "_blank", class: "link-box" do
  .box1


=link_to "https://hirodaiken.jp/", target: "_blank", class: "link-box" do
  .box1
