---
title: lesson
---

#lesson-wrap
  .block-layer
  %object{class: "lesson-slide", :data => "/pdf/lesson37.pdf", :height => "100%", :type => "application/pdf", :width => "100%"}
    %iframe{class: "lesson-slide", :height => "100%", :src => "/pdf/lesson37.pdf", :width => "100%"}
