---
title: マインクラフトコース
---
.content1
  .logo
    %img{:src => "/images/TechChanceLogo.svg"}/

.squares-container
  = link_to "#{config[:root]}/contents/basic/", class: "item initial-item item-left" do
    %div
      %h2
        マインクラフトで
        %br
        プログラミングを始める

  = link_to "#", class: "item initial-item item-right" do
    %div
      %h2
        準備中...
        -# Atomエディタの
        -# %br
        -# 使い方講座
